<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights" version="2.5.0" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="2.4.0" targetFramework="net462" />
  <package id="Microsoft.Azure.KeyVault.Core" version="2.0.4" targetFramework="net462" />
  <package id="Microsoft.Azure.WebJobs" version="2.1.0" targetFramework="net462" />
  <package id="Microsoft.Azure.WebJobs.Core" version="2.1.0" targetFramework="net462" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net462" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net462" />
  <package id="Microsoft.Data.Edm" version="5.8.3" targetFramework="net462" />
  <package id="Microsoft.Data.OData" version="5.8.3" targetFramework="net462" />
  <package id="Microsoft.Data.Services.Client" version="5.8.3" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.NETCore.Platforms" version="2.0.1" targetFramework="net462" />
  <package id="Microsoft.Web.WebJobs.Publish" version="1.1.0" targetFramework="net462" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="NETStandard.Library" version="2.0.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net462" />
  <package id="RestSharp" version="106.2.1" targetFramework="net462" />
  <package id="System.AppContext" version="4.3.0" targetFramework="net462" />
  <package id="System.Collections" version="4.3.0" targetFramework="net462" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net462" />
  <package id="System.Console" version="4.3.0" targetFramework="net462" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.1" targetFramework="net462" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net462" />
  <package id="System.Spatial" version="5.8.3" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net462" />
  <package id="Topshelf" version="4.1.0" targetFramework="net462" />
  <package id="Topshelf.Autofac" version="3.1.1" targetFramework="net462" />
  <package id="WindowsAzure.Storage" version="9.0.0" targetFramework="net462" />
</packages>